        .font{
            background-color: #190033;
            font-variant: small-caps;
            font-weight: bold;
            
        }
        
        .titulos{
            color: darkgray;
            text-align: center;
            font-weight: 400;
        }

      .formataclasse{
        
        padding: 0px;
        width: 613px;
        height: 460px;
        border:solid 6px;
        border-color: black;

  }

.body{
    background-color: #D8D8FF;
}

.formatabotao{
   background-color: #680aca;
    border-color: black;
    border-radius: 12px;
    
    
}

.formatabotao:hover{
   background-color: #190033;
   border-radius: 17px;
    
    
}

.img-fluid{
    border-color: #680aca;
    border-width: 3px;
}
.formatatexto{
 color: #4d4d4d;
}