/* style.css */
.container, .container-fluid {
 padding-right: 15px;
 padding-left: 15px;
 background-color: #dddddd;
}

.row {
 margin-bottom: 20px;
}

header, footer, nav, aside, section, div[role="main"] {
 padding-top: 15px;
 padding-bottom: 15px;
 background-color: #cccccc;
 border: 1px solid #000000;
 text-align: center;
}

div[role="main"] {
 background-color: #ffffff;
 height: 600px;
}